drone_photos
datasets/training_annotated
datasets/training_merged
datasets/eastlawn_23april2024
datasets/drone_ortho
datasets/export_test
datasets/geo_test
datasets/tiled_export
datasets/export_predictions
*.pyc
